body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: large;
}
footer {
    font-size: 15px;
    text-align: center;
}
h1 {
    text-align: center;
    font-size: 300%;
    font-weight: 600;
    font-family: 'Comic Sans', cursive;
    color: #ff9600;
    border-bottom: solid #ff9600;
    margin-bottom: 30px;
}